@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    --cor : rgb(255, 85, 0);
    --padding : 1rem;
    --margem : 10%;
    --cor_primária : rgb(236, 232, 232);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding-inline: 1rem;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.logo ion-icon{
    fill: var(--cor);
    height: 25px;
    width: 30px;
}
#logo-name{
    display: inline;
    font-size: 1.8rem;
    color: var(--cor);
}
.research ion-icon{
    width: 1.8rem;
    height: 1.8rem;
    fill: rgb(103, 94, 94);
    vertical-align: middle;
}
main{
    height: fit-content;
    background-color: var(--cor_primária);
    width: 100%;
}
.book-flight{
    display: grid;
    place-items: center;
    height: 95vh;
    background-image: url("../img/london.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#flight-box{
    display: block;
    background-color: white;
    height: 40%;
    width: 65%;
    min-width: 520px;
}
#little-header{
    display: flex;
    justify-items: stretch;
    height: 40px;
    background-color: var(--cor);
}
#little-header span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    color: white;
}
#little-header span *{
    padding: 5px;
    font-size: 1rem;
}
#little-header span:nth-of-type(2), #little-header span:nth-of-type(3){
    background-color: black;
}  
#little-header ion-icon{
    fill: white;
    width: 20px;
    height: 30px;

}
.travel-form{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.travel-form span{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: var(--padding);
}
.travel-form h2{
    padding-left: var(--padding);
}
.travel-form input{
    height: 2.7rem;
    outline: none;
    padding: 10px;
    border: solid 1px rgba(158, 144, 144, 0.811);
}
.travel-form input::placeholder{
    font-size: 1rem;
}
.travel-form input[type="button"]{
    text-align: center;
    margin-left: var(--padding);
    width: 200px;
    background-color: gray;
    color: white;
    border: none;
    font-size: 1rem;
}
.inputs-box{
    display: flex;
    width: 100%;
}
#offers{
    margin-inline: var(--margem);
    padding-block: 2rem ;
    height: fit-content;
    
}
#offers h2, #offers p{
    margin-bottom: 1rem;
}
#offers-images{
    display: flex;
    height: 60vh;
    gap: 15px;
}
#offers-images *{
    flex: auto;
    width: 50%;
       
}
#offers-images figure#big-image > img{
    width: 100%;
    height: 100%;  

}
#offers-images div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap: 15px;
}

#offers-images div > figure{
    height: calc(50% - 7.5px);
    width: calc(50% - 10px);
    

}
#offers-images div > figure > img{
    width: 100%;
    height: 100%;
}
#offers-images figcaption{
    position: relative;
    top: -2.5rem;
    color: white;
    margin-inline: 15px; 
    font-size: 1.2em;
    width: calc(100% - 15px);
}
#nature-places{
    margin-inline: var(--margem);
    height: auto;
}
#nature-places > h3, #nature-places > p{
    margin-block: var(--padding);
}
#nature-places h3{
    font-size: 1.5em;
}
.image-cards{
    display: flex;
    width: 100%;
    gap: 15px;

}
.image-cards *{
    flex: auto;
    height: 100%;
    width: 50%;
    background-color: white;
}
.image-cards img{
    width: 100%;
}
.image-cards div p, .image-cards div h3{
    margin: 1rem;
    width: calc(100% - 1rem);

}
.contact{
    height: fit-content;
}
.newsletter-container{
    height: fit-content;
    background-color: rgb(104, 102, 102);
    margin-block: 2rem;
    margin-inline: var(--margem);
    color: white;
}
.newsletter-container p{
    padding-bottom: 1rem;
}
.newsletter-container > span{
    display: flex;
    flex-direction: column;

}
.newsletter-container h2{
    padding-block: 1rem;
    font-size: 2em;
}
.newsletter-container > * {
    padding-inline: var(--padding);
}
.newsletter-container span > input{
    height: 2.7rem;
    outline: none;
    border: none;
    padding-inline: 10px;
    font-size: 1em;
}
.newsletter-container span > input::placeholder{
    color: rgb(179, 177, 177);
}
.newsletter-container input[type="button"]{
    height: 2.7rem;
    width: 110px;
    margin: var(--padding);
    font-size: 1em;
    color: white;
    border: none;
    outline: none;
    background-color: rgba(251, 125, 125, 0.848);
}
.contact-container{
    margin-inline: var(--margem);
    height: fit-content;
}
.contact-container > p{
    margin-block: var(--padding);
}
.contact-container .callForms > span{
    display: flex;
    height: fit-content;
    align-items: center;
}
.callForms p{
    padding-inline: 20px;
    
}
.callForms input{
    width: 100%;
    height: 3.5rem;
    margin-block: 10px;
    outline: none;
    border: solid 1px rgb(176, 170, 170);
    padding-inline: 10px;
}
.callForms input[type="button"]{
    height: 3rem;
    width: 180px;
    font-size: 0.9em;
    background-color: black;
    color: white;
}
footer{
    padding-block: 1rem;
    height: fit-content;
    background-color: var(--cor_primária);
    display: grid;
    place-items: center;
    width: 100%;

}
footer > h4{
    font-size: 1.3em;
    color: gray;
}
footer > span{
    padding-block: 20px;
}
footer ion-icon{
    width: 25px;
    height: 25px;
    fill: rgb(118, 114, 114);
}
input[type="button"]:hover{
    cursor: pointer;
}

@media screen and (max-width:800px){
    :root{
        --margem : 15px;
    }
    header{
        justify-content: space-around;
    }
    .book-flight{
        height: 60vh;
    }
    #flight-box{
        height: 60%;
    }
    #offers-images{
        height: 45vh;
    }
    .image-cards{
        height: fit-content;
    }
    .image-cards div img{
        min-height: 180px;
    }
    .image-cards div p, .image-cards div h3{
        margin-block: 2%;
    }
    .contact-container{
        min-height: 400px;
    }
    .contact-container input{
        height: 3rem;
        margin-block: 8px;
    };
    .contact-container input[type="button"]{
        height: 2.5rem;
    }
}
@media screen and (max-width:550px){
    header{
        justify-content: space-between;
    }
    .book-flight{
        background-image: none;
        height: fit-content;
        align-items: baseline;
        
    }
    #flight-box{
        width: 100%;
        height: 100%;
        min-width: 0;
    }
    .inputs-box{
        flex-direction: column;
    }
    .inputs-box span{
        padding-block: 0;
        width: 100%;
    }
    .travel-form h2{
        margin-top: 2rem;
    }
    .travel-form input[type="button"]{
        margin-block: 20px;
    }
    #offers{
        padding-top: 3rem;
    }
    #offers-images{
        flex-direction: column;
        height: fit-content;
    }
    #offers-images div{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #offers-images > img{
        width: 100%;
        height: 100%;
    }
    #offers-images figure, #offers-images div > figure{
        width: 100%;
        height: 280px;
    }
    .image-cards{
        flex-direction: column;
    }
    .image-cards *{
        width: 100%;
    }
    
}
@media screen and (max-width:340px){
    #offers-images figure, #offers-images div > figure{
        height: 240px;
    }
}
